@model ClassBoots.Models.AppUser

@{
    ViewData["Title"] = "Details";
}

<h2>Personal Area</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.GroupID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupID)
        </dd>*@
        <dd>
            Welcome @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
</div>
