<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="q819PpHO3bqT3kEasgjvuB6NZQYuONFocKCnoGaCR2w" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>@ViewData["Title"] - ClassBoots</title>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <environment include="Development">
        <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/colors/default-dark.css" id="theme" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/colors/default-dark.css" id="theme" />
        <!--  <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/css/bootstrap.min.css"
                       asp-fallback-href="~/assets/plugins/bootstrap/css/bootstrap.min.css"
                       asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/colors/default-dark.css" id="theme" />-->
    </environment>

</head>

<body class="fix-header fix-sidebar card-no-border">
    <div class="preloader">
        
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>

    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <div class="navbar-header">
                    <a href="/" alt="ClassBoots Home Page"> <div class="logo-classboots light-logo"></div></a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <partial name="_Search-area" />
                    </ul>

                    <ul class="navbar-nav my-lg-0">
                        <partial name="_Personal-area" />
                    </ul>
                </div>
            </nav>
        </header>

        <partial name="_LeftSidebar" />

        <div class="page-wrapper">

            <div class="container-fluid">
                <!-- ============================================================== --
                <div class="row page-titles">
                    <partial name="_CookieConsentPartial" />
                    <div id="path"></div>
                    <div id="results">You can start search</div>
                </div>
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div id="body">
                            <div class="background-image"></div>
                            <div id="body-content" class="content container jumbotron opacity" style="width:@ViewData["jumbo"]%;">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="home-circle">
            <div class="class-boots-home-icon">
                <div id="weather"></div>
            </div>
        </div>
        <a href="/Home/About">About</a> | <a href="/Home/Map">Map</a> | <a href="/Home/Contact">Contact us</a> | <a href="/Home/Privacy">Privacy Policy</a> | <a href="/Home/TermsAndConditions">Terms of Service</a>
        <br />
        © 2018 ClassBoots
    </footer>

    <environment include="Development">
        <script src="~/assets/plugins/jquery/jquery.js"></script>
        <script src="~/assets/plugins/bootstrap/js/tether.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery.slimscroll.js"></script>
        <script src="~/js/waves.js"></script>
        <script src="~/js/sidebarmenu.js"></script>
        <script src="~/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
        <script src="~/js/custom.min.js"></script>
        <script src="~/js/jquery.session.js"></script>
        <script src="~/js/navigator.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/assets/plugins/jquery/jquery.js"></script>
        <script src="~/assets/plugins/bootstrap/js/tether.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/jquery.slimscroll.js"></script>
        <script src="~/js/waves.js"></script>
        <script src="~/js/sidebarmenu.js"></script>
        <script src="~/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
        <script src="~/js/custom.min.js"></script>
        <script src="~/js/jquery.session.js"></script>
        <script src="~/js/navigator.js"></script>

    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
