<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>@ViewData["Title"] - ClassBoots</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="~/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="~/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="~/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="~/assets/plugins/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="~/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    </head>

    <body class="fix-header fix-sidebar card-no-border">
        <div class="preloader">

            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
        </div>
            <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar" style="padding-top:unset;">
        <a href="/" alt="ClassBoots Home Page"> <div class="logo-classboots light-logo"></div></a>

        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li>
                        <a class="waves-effect waves-dark" asp-area="" asp-controller="Administrator" asp-action="Index" aria-expanded="false"><i class="mdi mdi-home"></i><span class="hide-menu">Index </span></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" asp-area="" asp-controller="Administrator" asp-action="Statistics" aria-expanded="false"><i class="mdi mdi-chart-bar"></i><span class="hide-menu">Statistics</span></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" asp-area="" asp-controller="" asp-action="" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">User</span></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" asp-area="" asp-controller="Lecturer" asp-action="Index" aria-expanded="false"><i class="mdi mdi-glasses"></i><span class="hide-menu">Lecturers</span></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" asp-area="" asp-controller="Institution" asp-action="Index" aria-expanded="false"><i class="mdi mdi-school"></i><span class="hide-menu">Institutions</span></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" asp-area="" asp-controller="School" asp-action="Index" aria-expanded="false"><i class="mdi mdi-domain"></i><span class="hide-menu">Schools</span></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" asp-area="" asp-controller="Subject" asp-action="Index" aria-expanded="false"><i class="mdi mdi-file-multiple"></i><span class="hide-menu">Subjects</span></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" asp-area="" asp-controller="Lecture" asp-action="Index" aria-expanded="false"><i class="mdi mdi-format-list-numbers"></i><span class="hide-menu">Lectures</span></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" asp-area="" asp-controller="Video" asp-action="Index" aria-expanded="false"><i class="mdi mdi-video"></i><span class="hide-menu">Videos</span></a>
                    </li>
                </ul>
                <div class="text-center m-t-30">
                    <a a asp-area="" asp-controller="Home" asp-action="Index" class="btn waves-effect waves-light btn-warning hidden-md-down">FRONTEND</a>
                </div>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
        <!-- Bottom points-->
        <div class="sidebar-footer">
            <!-- item--><a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
            <!-- item--><a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
            <!-- item--><a href="" class="link" dat9a-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
        </div>
        <!-- End Bottom points-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->

    <div class="page-wrapper">

        <div class="container-fluid">
            <!-- ============================================================== --
            <div class="row page-titles">
                <partial name="_CookieConsentPartial" />
                <div id="path"></div>
                <div id="results">You can start search</div>
            </div>
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">

                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="home-circle">
            <div class="class-boots-home-icon"></div>
        </div>
        <a href="/Home/About">About</a> | <a href="/Home/Contact">Contact us</a> | <a href="/Home/Privacy">Privacy Policy</a> | <a href="/Home/TermsAndConditions">Terms of Service</a>
        <br />
        © 2018 ClassBoots
    </footer>

    <environment include="Development">
        <script src="~/assets/plugins/jquery/jquery.js"></script>
        <script src="~/assets/plugins/bootstrap/js/tether.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/jquery.slimscroll.js"></script>
        <script src="~/js/waves.js"></script>
        <script src="~/js/sidebarmenu.js"></script>
        <script src="~/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
        <script src="~/js/custom.min.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="~/plugins/jquery/jquery.js"></script>
        <script src="~/plugins/bootstrap/js/tether.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/jquery.slimscroll.js"></script>
        <script src="~/js/waves.js"></script>
        <script src="~/js/sidebarmenu.js"></script>
        <script src="~/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
        <script src="~/js/custom.min.js"></script>


        <!--
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"
                asp-fallback-src="~/admin/assets/plugins/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"
                asp-fallback-src="~/admin/assets/plugins/bootstrap/js/tether.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/bootstrap.min.js"
                asp-fallback-src="~/admin/assets/plugins/bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/admin/js/site.min.js" asp-append-version="true"
                asp-fallback-src="~/admin/js/site.min.js"
                asp-fallback-test="window.jQuery"></script>
        <script src="~/admin/js/jquery.slimscroll.js"
                asp-fallback-src="~/admin/js/jquery.slimscroll.js"
                asp-fallback-test="window.jQuery"></script>
        <script src="~/admin/js/waves.js"
                asp-fallback-src="~/admin/js/waves.js"
                asp-fallback-test="window.jQuery"></script>
        <script src="~/admin/js/sidebarmenu.js"
                asp-fallback-src="~/admin/js/sidebarmenu.js"
                asp-fallback-test="window.jQuery"></script>
        <script src="~/admin/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"
                asp-fallback-src="~/admin/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"
                asp-fallback-test="window.jQuery"></script>
        <script src="~/admin/js/custom.min.js"
                asp-fallback-src="~/admin/js/custom.min.js"
                asp-fallback-test="window.jQuery"></script>
        <script src="~/admin/js/navigator.js"
                asp-fallback-src="~/admin/navigator.js"
                asp-fallback-test="window.jQuery"></script>
                -->
    </environment>
    <!-- chartist chart -->
    <script src="~/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="~/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!--c3 JavaScript -->
    <script src="~/assets/plugins/d3/d3.min.js"></script>
    <script src="~/assets/plugins/c3-master/c3.min.js"></script>
    <!-- Chart JS -->
    <script src="~/js/dashboard1.js"></script>
    @RenderSection("Scripts", required: false)

    </body>
</html>
