<!-- Defaults -->
<li id="menuitem"><a class="ajaxLink" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu"></span></a></li>
<li id="previousbtn"><a class="ajaxLink" aria-expanded="false"><i class="mdi mdi-arrow-left-bold-circle"></i><span class="hide-menu"></span></a></li>

<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav"></ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
        <partial name="_Login-nav" />
    </div>
    <!-- End Bottom points-->
</aside>