@using Microsoft.AspNetCore.Identity
@using ClassBoots.Areas.Identity.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
}
else
{
        <div class="_Loginbox text-center " >
                    <a href="https://accounts.google.com/signin/oauth/oauthchooseaccount?client_id=823435120787-l04052src5miam0j01bo6vm3j07nubkc.apps.googleusercontent.com&as=dHG0aTW_HgKXux_HrAag_Q&destination=https%3A%2F%2Flocalhost%3A44332&approval_state=!ChRxTGtiSl83YllIZWpVcTJEbk1ueBIfczVyOTVlSktlMndVY0t0V0xtY192ZHA0ZWZzTGJ4WQ%E2%88%99APNbktkAAAAAW-TWjOYnh7w5kfprhkCp58tmeeM_GJc4&oauthgdpr=1&xsrfsig=AHgIfE-Rb_Erfl-QsDAiciMXg_zmNnGDYQ&flowName=GeneralOAuthFlow" class="btn btn-default bg-white" name="provider" value="Google" title="Log in using your Google account"><img src="https://png.icons8.com/color/1600/google-logo.png" style="height:50px; width:50px;" id="loginbtn" name="provider" value="Google" title="Log in using your Google account"></a>
                    <a href=""  type="submit" class="btn btn-default bg-white" name="provider" value="Google" title="Log in using your Google account"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" style="height:50px; width:50px;" id="loginbtn" name="provider" value="Google" title="Log in using your Google account"></a>
        </div>
}
