@using Microsoft.AspNetCore.Identity
@using ClassBoots.Areas.Identity.Data


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a id="nameArea" class="nav-link dropdown-toggle text-muted waves-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" aria-haspopup="true" aria-expanded="false">@UserManager.GetUserName(User)</a>
    </li>
}
else
{
        <a class="loginoptions" asp-area="Identity" asp-page="/Account/Login">Login</a>
}