@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a id="nameArea" class="nav-link dropdown-toggle text-muted waves-effect waves-dark personal-name" asp-controller="AppUsers" asp-action="Details" aria-haspopup="true" aria-expanded="false"><img src="~/assets/images/users/1.jpg" alt="user" class="profile-pic m-r-10" />@UserManager.GetUserName(User)</a>
    </li>
}

