<li class="nav-item hidden-sm-down search-box">
    <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>

    <form id="searchform" class="app-search">
        <input id="searchIn" type="text" class="form-control" placeholder="Search here.." autocomplete="off"><a class="srh-btn"><i class="ti-close"></i></a>
        <div id="resultcontainer" class="results">
            <button class="btn btn-info filter-btn" type="button" data-toggle="collapse" data-target="#filters" aria-expanded="false" aria-controls="filters">
                Filters
            </button>
            <div class="collapse" id="filters">
                <div class="filters card-block">
                    <div class="row">
                        <div class="col-4">
                            <label for="filterinstitution">Select Institution :</label>
                            <select id="filterinstitution" class="form-control form-control">
                                <option value="">Choose institution..</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="filterschool">Select School :</label>
                            <select id="filterschool" class="form-control form-control">
                                <option value="">Choose School..</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="filtersubject">Select Subject :</label>
                            <select id="filtersubject" class="form-control form-control">
                                <option value="">Choose Subject..</option>
                            </select>
                        </div>
                    </div>
                </div>
                    </div>
            <ul id="results" class="list-group">
                <li id="resultLine" class="list-group-item result-line">
                    <a>
                        <span class="videolink"></span>
                        <span class="institutionlink sm-text"></span> <i class="mdi mdi-arrow-right-bold"></i>
                        <span class="schoollink"></span> <i class="mdi mdi-arrow-right-bold"></i>
                        <span class="subjectlink"></span> <i class="mdi mdi-arrow-right-bold"></i>
                        <span class="lecturelink"></span>
                    </a>
                </li>
            </ul>
        </div>
    </form>
</li>