@{
    ViewData["Title"] = "Error";

}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>404 - As <b><i>ViewData["Dog"].ToString().Split("/")[ViewData["Dog"].ToString().Split("/").Count() - 1].Split(".")[0]</i></b> say, the page not found! woof :(</p>

<img class="dog" src="@ViewData["Dog"]" />
