@{
    ViewData["Title"] = "Home Page";

}
<div class="indexpage">
    <div class="row">
            <div class="col-lg-6 col-md-auto col-sm-auto"></div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="welcometext font-weight-light">Welcome to ClassBoots</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-auto col-sm-auto"></div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="slogentext">Your way to succuss..</div>
            </div>
    </div>
</div>