@{
    ViewData["Title"] = "Home Page";
}
<style>

    .home-circle {
        background-color: rgba(255,255,255,0.7);
        width: 500px;
        height: 500px;
        margin: auto;
        border-radius: 9999px;
    }

    .class-boots-home-icon {
        width: 500px;
        height: 500px;
        background-image: url(/images/classboots-icon.svg);
        background-repeat: no-repeat;
    }



</style>
<div class="container">
    <div class="home-circle">
        <div class="class-boots-home-icon"></div>
    </div>
</div>