@model ClassBoots.Models.Lecture

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<h2>Create</h2>

<h4>Lecture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                    <label for="exampleSelect1">Lecturer</label>
                    <select asp-for="LecturerID" class="form-control"></select>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="SubjectID" class="control-label"></label>
                <input asp-for="SubjectID" class="form-control" />
                <span asp-validation-for="SubjectID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        if (document.readyState === 'complete') {
            $('#SubjectID').attr('value', $.session.get('currentID'));
            $.get('/api/Lecturers', function (data) {
                $.each(data, function () {
                    $('#LecturerID').append('<option value="' + this.id + '">' + this.name+'</option>');
                });
            });
        }


    </script>
}
