@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-5">
        Create a new local-user.
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control" placeholder="Email (ex@gmail.com)" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-default bg-white btn-md">Register</button>
                </div>
            </form>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
