/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.background-img {
    width:100%;
    height: 100%;

}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url('../images/AsianStudentResized.jpg');
    width: 100%;
    height: 100%;
    -webkit-filter: blur(2px) grayscale(35%);
    -moz-filter: blur(2px) grayscale(35%);
    -ms-filter: blur(2px) grayscale(35%);
    filter:  blur(2px) grayscale(35%);
}

.content{
    position: fixed;
    z-index: 9999;
}
section {
    padding:0 50px 0 50px;
}

.content:hover {
     position: fixed;
     z-index: 9999;
}

.btn-img {
    width: 50px;
    height: 50px;
    background-color: white;
}

.over-background {
    z-index: 2;
    position: fixed;
    width: 100%;
}
.opacity {
    opacity: 0.9;
}




#sidebarnav-options {
    text-align: center;
    margin-top: -20px;
}

.logo-classboots {
    background-image: url(/images/classboots-logo.svg);
    width:  300px;
    height: 72px;
    background-repeat: no-repeat;
}