/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    min-height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.background-img {
    width:100%;
    height: 100%;

}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url('../images/AsianStudentResized.jpg');
    width: 100%;
    height: 100%;
    -webkit-filter: blur(2px) grayscale(35%);
    -moz-filter: blur(2px) grayscale(35%);
    -ms-filter: blur(2px) grayscale(35%);
    filter:  blur(2px) grayscale(35%);
}

.content {
    /*position: fixed;*/
    z-index: 2;
}
section {
    padding:0 50px 0 50px;
}

.btn-img {
    width: 50px;
    height: 50px;
    background-color: white;
}

.over-background {
    z-index: 2;
    position: fixed;
    width: 100%;
}
.opacity {
    background-color:rgba(255,255,255,0.8);
}

#sidebarnav-options {
    text-align: center;
    margin-top: -20px;
}

.logo-classboots {
    background-image: url(/images/classboots-logo.svg);
    width:  300px;
    height: 72px;
    background-repeat: no-repeat;
}
.indexpage {
    background-image: url(/images/index_logo.svg);
    width: 1000px;
    height: 550px;
    background-repeat: no-repeat;
}
.welcometext {
    padding: 100px 0px 0px 600px;
    font-size:2em;
}
.slogentext {
    padding: 0px 0px 300px 800px;
    font-size: 1.2em;
}
.footer {
    background-color: rgba(255,255,255,0.5);
    z-index: 2;

}

.home-circle {
    margin-top: -50px;
    float: right;
    width: 105px;
    height: 104px;
    border-radius: 9999px;
}

.class-boots-home-icon {
    width: 100%;
    height: 100%;
    background-image: url(/images/classboots-icon.svg);
    background-repeat: no-repeat;
}

._Loginbox {
    border-bottom: 2px solid aqua;
}

.results {
    width: 100%;
    height: 100%;
    z-index: 3;
    font-size: 1.2em;
    position: fixed;
    background: rgba(0,0,0,0.5);
}

.filters {
    background-color: white;
}
#searchline {
    margin-top: 30px;
}

.filter-btn {
    width: 100%;
    margin: 0px;
}

#searchIn {
    border:none;
}

.result-line {
    cursor:pointer;
}
.result-line:hover {
    background-color: lightskyblue;
}
.result-line:hover > a {
    color:white;
}

.videolink {
    margin: 0px 20px 0px 20px;
    font-size:1.2em;
}

.sm-text {
    font-size:1.1em;
}

.little-margin {
    margin-right: 20px;
}

.bg-white {
    background-color:#fff;
}

.loginoptions {
    margin: 15px 15px 15px 15px;
    font-size:1.3em;
    color:white;
}