@model IEnumerable<ClassBoots.Models.School>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="rows">
        <tr id="row" class="hidden">
            <td class="ID"></td>
            <td class="InstitutionID"></td>
            <td class="Name"></td>
            <td></td>
        </tr>
    </tbody>
</table>

@section Scripts
    {   
    <script>
        $.get('./api/Schools', function (data) {
            $.each(data, function () {
                var $row = $('#row').clone();
                $row.attr('id', '_' + this.id);

                $row.find('.ID').html(this.id);
                $row.find('.InstitutionID').html(this.institutionID);
                $row.find('.Name').html(this.name);

                $row.removeClass('hidden');
                $('#rows').append($row);
            });
            $('#row').remove();
        });
    </script>
        }
